<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title iVend365
    link(href="https://fonts.googleapis.com/css?family=Encode+Sans:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet")
    link(href="style.css" rel="stylesheet")
    script(src="js/jquery-3.4.1.min.js")

  include _includes/header.pug

  block page

  include _includes/footer.pug
  script(src="js/index.js")