h1(style="width: 768px; margin: 0 auto;") All iVend365 static pages list:

ul(style="list-style: circle; padding-left: 20px; font-size: 24px; width: 768px; margin: 0 auto;")
  li #[a(href="main.html") main page]
  //- li #[a(href="registration.html") Registration]
  //- li #[a(href="restore-password.html") Restore password]

  //- li #[a(href="cabinet-setup-step0.html") Cabinet Setup - Step 0]
  //- li #[a(href="cabinet-setup-step1.html") Cabinet Setup - Step 1]
  //- li #[a(href="cabinet-setup-step2.html") Cabinet Setup - Step 2]
  //- li #[a(href="cabinet-setup-step3.html") Cabinet Setup - Step 3]
  //- li #[a(href="cabinet-setup-step4.html") Cabinet Setup - Step 4]
  //- li #[a(href="cabinet-setup-step5.html") Cabinet Setup - Step 5]
  //- li #[a(href="cabinet-setup-step-finish.html") Cabinet Setup - Step Finish]

  //- li #[a(href="cabinet-tax-codes.html") Cabinet - Tax Codes]

  //- li #[a(href="cabinet-dashboard-statistics.html") Cabinet Dashboard - Statistics]
  //- li #[a(href="cabinet-dashboard-sales.html") Cabinet Dashboard - Sales]
  //- li #[a(href="cabinet-dashboard-products.html") Cabinet Dashboard - Products]



//- script.
//-   location.href = '/login.html'
