extends _layout.pug

block page
  body
    //- START SMART SELLING TODAY
    section
      div.main_content
        h1 START SMART SELLING TODAY
        h2 Free 30 day trial. No credit card required.
        a.btn_blue(href="/") FREE TRIAL
        a.watch_video(href="/")
          img.video_icon(src="img/icons/video_icon.png")
          div.video Watch video
    //- How WE Help Your Business
    section
      div.main_help
        h1 How WE Help Your Business
        h2 Effortlessly run retail operations with a feature-rich Point of Sale solution available on the cloud.
        div.block1
          div.item
            img.icon(img src="img/icons/main/help/drive.png")
            div.content
              div.title Drive sales with speed and agility
              p Running a retail business is easy with a cloud-based, Point of Sale solution. Start selling today with intuitive tools that drive customer acquisition, increase average order size, and make the dream of a long lasting, loyal customer relationships a reality.
          div.item
            img.icon(img src="img/icons/main/help/shop.png")
            div.content
              div.title Multi outlet retail ready
              p iVend365 delivers powerful Point of Sale and retail tools that are suitable for a single store environment, a pop-up shop, a mobile operation or multiple stores. Scale up or down services on-the-go as your business expands.
          div.item
            img.icon(img src="img/icons/main/help/up.png")
            div.content
              div.title Deliver on shopper demand
              p At a glance visibility into Product, Sales, Inventory, Store or Workforce performance keeps you fully informed. Real-time business KPIs presented in flexible, customizable reports allows you to grow and accurately merchandise what your shoppers want most.
        div.block1
          div.item
            img.icon(img src="img/icons/main/help/rain.png")
            div.content
              div.title Sell more, uninterrupted
              p iVend365 POS offers 100% availability, meaning you can close more sales, faster with zero downtime. Our cloud-based solution allows you to keep selling even without the internet.
          div.item
            img.icon(img src="img/icons/main/help/shield.png")
            div.content
              div.title Safe, secure retail
              p iVend365 delivers powerful Point of Sale and retail tools that are suitable for a single store environment, a pop-up shop, a mobile operation or multiple stores. Scale up or down services on-the-go as your business expands.
          div.item
            img.icon(img src="img/icons/main/help/hardware.png")
            div.content
              div.title No hardware handcuffs
              p At a glance visibility into Product, Sales, Inventory, Store or Workforce performance keeps you fully informed. Real-time business KPIs presented in flexible, customizable reports allows you to grow and accurately merchandise what your shoppers want most.
        a.btn_white(href="/") SIGN UP FOR FREE
    //- Point of Sale tailored to your unique business needs
    section 
      div.main_point
        h1 Point of Sale tailored to your unique business needs
        h2 Transform your business with iVend365 – POS designed for what you sell
        div.business_list
          div.business_col
            div.item
              div.label
                img(img src="img/icons/main/point/fashion.png")
              p Fashion Boutiques
            div.item
              div.label
                img(img src="img/icons/main/point/grocery.png")
              p Grocery & Bakeries
            div.item
              div.label
                img(img src="img/icons/main/point/sport.png")
              p Sporting Goods
            
          div.business_col
            div.item
              div.label
                img(img src="img/icons/main/point/shoe.png")
              p Shoe Stores
            div.item
              div.label
                img(img src="img/icons/main/point/wine.png")
              p Wineries & Breweries
            div.item
              div.label
                img(img src="img/icons/main/point/electronics.png")
              p Electronics & Multimedia
            
          div.business_col
            div.item
              div.label
                img(img src="img/icons/main/point/cafe.png")
              p Cafes & Restaurants
            div.item
              div.label
                img(img src="img/icons/main/point/furniture.png")
              p Furniture & Home Decor
            div.item
              div.label
                img(img src="img/icons/main/point/explore.png")
              p Explore more business types
            
        a.btn_white(href="/") SIGN UP FOR FREE
    //- BLUE
    section.blue
    //- OUR PARTNERS
    section
      div.partners 
        h1 OUR PARTNERS
        h2 iVend365 integrates seamlessly with a number of hardware suppliers, <br> payment processors and 3rd party applications via API in order to fit the needs of your business.
        img(src="img/icons/main/partners/partners.png", alt="")
        a.btn_white(href="/") BECOME OUR PARTNER 
    //- Are you ready to start selling?
    section
      div.start
        h1 Are you ready to start selling?
        h2 Move your business forward with the Point of Sale solution that has every tool you need to <br> optimize your retail operations. Modernize your retail environment with easy to use <br> software that runs on sleek iPad and Android devices.
    //- 24/7 Support. We got you.
    section
      div.support
        h1 24/7 Support. We got you.
        h2 iVend365 support processes are managed centrally from our 24/7 Global Support Portal.<br> Comprehensive support for iVend365 is available by email and via our online web portal to help<br> you start selling in no time!
        a.btn_white(href="/") ASK AWAY
    //- 24/7 Support. We got you.
    section
      div.support2
        div.left
          div.content
            h1 24/7 Support. We got you.
            h2 Move your business forward with our free, no commitment, no credit card <br> required, trial.
            a.btn_white(href="/") START THE FREE TRIAL
          div.app
            a.download_blue(href="/")
              img.icon(src="img/icons/main/download_blue.png")
              p DOWNLOAD THE APP 
            a.download_green(href="/")
              img.icon(src="img/icons/main/download_.png")
              p DOWNLOAD THE APP
        div.right
          img(src="img/app.png", alt="")
    //- Features
    section 
      div
    //- CONTACT
    section
      div 