.header {
  max-width: 1440px;
  /* width: 100%; */
  display: flex;
  align-items: center;
  flex-flow: row;
  background-color: #fff;
  height: 72px;

  .logo {
    width: 124px;
    height: 50px;
  }

  .nav {
    width: 690px;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* margin-left: 264px; */

    .item {
      display: flex;
      width: 130px;
      height: 40px;
      background-color: #ffffff;
      align-items: center;
      margin: 16px 10px 16px 10px;
      justify-content: center;

      a {
        display: flex;
        width: 90px;
        height: 24px;
        color: #000000;
        font-family: "Encode Sans";
        font-size: 18px;
        font-weight: 400;
        line-height: 24px;
        align-items: center;
        margin: 8px 19px 8px 21px;
      }
    }
  }

  .btn-blue {
    margin: 16px 0 16px 14px;
    min-width: 150px;
    height: 40px;
    border: 1px solid #1b28cf;
    background-color: #1b28cf;
    color: #fff;
    line-height: 24px;
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    text-transform: uppercase;
    padding: 8px 9px 8px 11px;
  }

  .btn-white {
    margin: 16px;
    min-width: 150px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #1b28cf;
    color: #1b28cf;
    font-family: "Encode Sans";
    font-weight: 600;
    line-height: 24px;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    padding: 8px 9px 8px 11px;
  }
}
